.gold {
  background-color: #946b2d;
}

.text-blue {
  color: #0e1a40;
}

.error-container {
  width: 100%;
  margin: 0 auto;
  height: 100vh;
}

.error-box {
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
  height: 30%;
}