<div class="container-fluid full-height" style="height: 100%; min-height: 600px; background-color: #0e1a40;">

  <div class="row justify-content-center mt-5" style="padding-top: 15%;">
    <div class="col-lg-4 col-md-6 col-sm-6">
      <div class="card shadow" style="background-color: #946b2d;">
        <div class="card-title text-center border-bottom">
          <h2 class="p-3">Employee Sign In</h2>
        </div>

        <div class="alert alert-danger" role="alert" *ngIf="errorMessage">
          {{ errorMessage }}
        </div>

        <div class="card-body">
          <form [formGroup]="signinForm" (ngSubmit)="signin(); signinForm.reset();">
            <div>
              <label for="empId" class="form-label">Employee ID</label>
              <input type="text" class="form-control" id="empId" formControlName="empId">
            </div>

            <br/>

            <div class="d-grid">
              <button type="submit" class="btn btn-info" style="background-color: #5d5d5d; border-color: #0e1a40; color: #0e1a40">
                Sign In
              </button>
            </div>
          </form>
        </div>
      </div>

      <a routerLink="/" class="text-dark">Return</a>
    </div>
  </div>
</div>